# Logs et fichiers de débogage
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dépendances et modules
node_modules

# Fichiers de build générés
dist
dist-ssr

# Fichiers locaux spécifiques à l'environnement de développement
*.local

# Éditeurs et IDE
.vscode/*
!.vscode/extensions.json  # On garde la liste des extensions recommandées
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Fichiers système
.DS_Store  # Fichiers de métadonnées macOS

# Variables d'environnement et secrets
.env        # Fichier principal d'environnement
.env.*      # Tous les fichiers d'environnement spécifiques (dev, prod, etc.)
!.env.example  # Exception: fichier exemple pour montrer la structure requise